body {
	font-family: Geneva,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-color: #C7D0D9;
	color: black;
	scrollbar-base-color: #94A2B5;
	scrollbar-arrow-color: #ddddff;
}

html {
scrollbar-base-color: #94A2B5;
scrollbar-arrow-color: #ddddff;
}

a {
	color: #333399;
	font-family: Geneva,Arial,Helvetica,sans-serif;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.header {
	color: black;
	background-color: #C7D0D9;
	height: 25px;
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 15px;
	background-image: url(/horde-head/horde/graphics/themes/mozilla/header.png);
	background-repeat: repeat-x;
	white-space: nowrap;
}
