Package: dtc-postfix-dovecot
Source: dtc
Version: 0.34.5-1
Architecture: all
Maintainer: Thomas Goirand <zigo@debian.org>
Installed-Size: 74
Depends: amavisd-new, clamav, clamav-daemon, clamav-freshclam, courier-maildrop | maildrop, dtc-core (= 0.34.5-1), dovecot-imapd, dovecot-pop3d, courier-authlib-mysql, courier-authlib-userdb, courier-authdaemon, mysql-server, spamassassin, spamc
Section: admin
Priority: extra
Homepage: http://www.gplhost.com/software-dtc.html
Description: meta package to setup a minimal DTC server with Dovecot
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage contains the minimal dependency possible to run dovecot.
