Source: dtc
Section: admin
Priority: extra
Maintainer: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 5), po-debconf
Build-Depends-Indep: gettext
Standards-Version: 3.9.2
Vcs-Browser: http://git.gplhost.com/gitweb/?p=dtc.git
Vcs-Git: http://git.gplhost.com/dtc.git
Homepage: http://www.gplhost.com/software-dtc.html

Package: dtc-common
Architecture: all
Depends: ${misc:Depends}, apache2, aufs-tools, bind9, bzip2, ca-certificates, chrootuid, cpio, cron, debconf, debootstrap, file, gawk, libapache2-mod-log-sql-mysql, libapache2-mod-php5, libnss-mysql-bg | libnss-mysql, libnusoap-php, libpam-mysql, libsasl2-modules-sql, libpam-unix2, locales-all | language-pack-en, lsb-release, mhonarc, mime-support, mlmmj, mysql-client, ncftp, net-tools, openssl, php5, php5-cli, php5-gd, php5-mysql, php-pear, php-fpdf, php-crypt-cbc, php-mail-mime, php5-curl, php-net-ipv4, php-xml-serializer, postfix, postfix-mysql, pure-ftpd-mysql | proftpd-mysql | proftpd-mod-mysql, rrdtool, sasl2-bin, sbox-dtc, ssh, sudo, unzip, webalizer, zip, patch
Recommends: libapache2-mod-bwshare
Breaks: dtc (<< 0.25.1), dtc-postfix-courier (<< 0.25.1)
Suggests: dtc-postfix-courier | dtc-cyrus
Description: web control panel for admin and accounting hosting services (common files)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This package contains the common files.

Package: dtc-dos-firewall
Architecture: all
Depends: ${misc:Depends}, iptables, lsb-base
Description: small anti-DoS firewall script for your web, ftp and mail servers
 If running in a production environment, you might want to have a basic
 firewall running on your server to avoid having DoS attack. This is not the
 state-of-the-art, but just another attempt to make things a bit more smooth.

Package: dtc-postfix-dovecot
Architecture: all
Depends: ${misc:Depends}, amavisd-new, clamav, clamav-daemon, clamav-freshclam, courier-maildrop | maildrop, dtc-core (=${binary:Version}), dovecot-imapd, dovecot-pop3d, courier-authlib-mysql, courier-authlib-userdb, courier-authdaemon, mysql-server, spamassassin, spamc
Description: meta package to setup a minimal DTC server with Dovecot
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage contains the minimal dependency possible to run dovecot.

Package: dtc-core
Architecture: all
Depends: ${misc:Depends}, dtc-common (=${binary:Version}), mysql-client, libsasl2-2, libsasl2-modules
Suggests: courier-authmysql, courier-authlib-mysql, dovecot, mysql-server, mysqmail, awstats, courier-base, sqwebmail, cyrus-admin-2.2, cyrus-clients-2.2, cyrus-common-2.2
Conflicts: dtc-postfix-courier, dtc-cyrus
Replaces: dtc-postfix-courier, dtc-cyrus
Description: web control panel for admin and accounting hosting services (fewer depends)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage contains as few dependencies as possible to let you choose
 what daemon you want to use. Even the MySQL server wont be pulled by default.

Package: dtc-cyrus
Architecture: all
Depends: ${misc:Depends}, amavisd-new, clamav, clamav-daemon, clamav-freshclam, dtc-common (=${binary:Version}), mysql-client, mysql-server, libsasl2-2, libsasl2-modules , cyrus-admin-2.2, cyrus-clients-2.2, cyrus-common-2.2, cyrus-imapd-2.2, cyrus-pop3d-2.2, libsasl2-modules-sql | libpam-mysql, spamassassin, spamc
Suggests: courier-authmysql, courier-authlib-mysql, mysqmail, awstats, courier-base, sqwebmail
Conflicts: dtc-postfix-courier, dtc-core
Replaces: dtc-postfix-courier, dtc-core
Description: web control panel for admin and accounting hosting services (cyrus depends)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage contains dependencies to setup with Cyrus, so you don't have
 to select them by hand. If you want to use other daemons, use the dtc-core
 package which has a lot less dependencies, or use dtc-postfix-courier or
 dtc-toaster.

Package: dtc-postfix-courier
Architecture: all
Depends: ${misc:Depends}, amavisd-new, clamav, clamav-daemon, clamav-freshclam, dtc-common (=${binary:Version}), courier-maildrop | maildrop , courier-authdaemon (>= 0.50) | courier-authmysql (>= 0.37.3), courier-authlib-mysql | courier-authmysql, courier-authlib-userdb, courier-imap, courier-imap-ssl, courier-pop, courier-pop-ssl, libsasl2-modules, mysql-client, mysql-server, spamassassin, spamc
Conflicts: dtc-core, dtc-cyrus
Replaces: dtc-core, dtc-cyrus
Suggests: mysqmail
Provides: dtc
Description: web control panel for admin and accounting hosting services (more depends)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage has more dependencies to setup postfix, courier, and others
 so you don't have to select them by hand. If you want to use other daemons,
 use the dtc-core package which has a lot less dependencies, or the dtc-cyrus
 to setup with cyrus.

Package: dtc-stats-daemon
Architecture: all
Depends: ${misc:Depends}, dtc-core | dtc-postfix-courier | dtc-cyrus, lsb-base, php5-cli
Description: dtc-xen VM statistics for the dtc web control panel
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. This small daemon will query all the dtc-xen servers that you have
 configured in DTC and fetch the statistics from them: I/O stats, network and
 CPU. This information is then stored in DTC for your customer accounting.

Package: dtc-toaster
Architecture: all
Depends: ${misc:Depends}, awstats, dtc-postfix-dovecot (=${binary:Version}) | dtc-postfix-courier (=${binary:Version}), fetchmail, libnet-xwhois-perl, mailgraph, phpmyadmin, roundcube-sqlite | squirrelmail, roundcube | squirrelmail, tumgreyspf, visitors, dkimproxy, dtc-dos-firewall, extplorer
Description: web control panel for admin and accounting hosting services (metapackage)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This is a metapackage depending on every package that you need to use the DTC
 web hosting control panel, like a webmail, phpmyadmin and so on.

Package: dtc-autodeploy
Architecture: all
Depends: ${misc:Depends}
Description: Autodeploy the DTC in a single non-interactive debconf command
 This package helps to setup DTC if you don't want even a single question to
 do the full setup.
 .
 After apt-get install dtc-autodeploy, simply type dtc_autodeploy -password-
 and this tiny package will setup ssh, MySQL and dtc root with -password-, set
 debconf priority as non-interactive, install DTC and all it's dependencies
 with preset answers, then switch back debconf priority to medium. This is
 mostly useful if you want to do fully automated servers preset with DTC.
 .
 Your server must have mx.example.com in /etc/hostname and /etc/hosts set
 correctly with mx.example.com and dtc.example.com in order to succeed.
