#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:

clean:
	dh_testdir
	dh_testroot
	dh_clean
	$(MAKE) clean

	# As per advice from Christian Perrier
	# debconf-updatepo
	# For new strings, run:
	# debconf-gettextize debian/dtc-common.templates --merge

install:
	dh_testdir
	dh_testroot
	dh_prep

	dh_installdirs

	$(MAKE) install-dtc-common DESTDIR=$(CURDIR)/debian/dtc-common
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/LICENSE.gz
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/README.gentoo
	# The Debian package of DTC now depends on the libphp-nusoap
	# package, so we don't need to include the lib file in this Debian
	# package now.
	rm -f $(CURDIR)/debian/dtc-common/usr/share/dtc/shared/inc/nusoap.php

	# Install the doc-base control file
	install -D -m 0644 debian/docbase $(CURDIR)/debian/dtc-common/usr/share/doc-base/dtc-doc

	$(MAKE) install-dtc-stats-daemon DESTDIR=$(CURDIR)/debian/dtc-stats-daemon

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/changelog
	dh_install
	dh_installdocs
	dh_installman
	dh_installdebconf
	dh_installinit
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
