#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/dtc.postinst debian/dtc.config debian/dtc.prerm debian/dtc-postfix-courier.postinst debian/dtc-postfix-courier.config debian/dtc-postfix-courier.prerm

install:
	dh_testdir
	dh_testroot
	dh_clean -k 
	cp debian/master.postinst debian/dtc.postinst
	cp debian/master.config debian/dtc.config
	cp debian/master.prerm debian/dtc.prerm
	cp debian/master.postinst debian/dtc-postfix-courier.postinst
	cp debian/master.config debian/dtc-postfix-courier.config
	cp debian/master.prerm debian/dtc-postfix-courier.prerm

	dh_installdirs

	install -D -m 0644 debian/lintian/dtc debian/dtc/usr/share/lintian/overrides/dtc
	install -D -m 0644 debian/lintian/dtc-postfix-courier debian/dtc-postfix-courier/usr/share/lintian/overrides/dtc-postfix-courier
	$(MAKE) install-dtc-common DESTDIR=$(CURDIR)/debian/dtc-common
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/LICENSE.gz
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/README.gentoo
	$(MAKE) install-dtc-stats-daemon DESTDIR=$(CURDIR)/debian/dtc-stats-daemon

binary-indep: install
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/changelog
	dh_installdocs
	dh_installmenu -n
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
