#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/dtc-core.postinst debian/dtc-core.config debian/dtc-core.prerm \
		debian/dtc-postfix-courier.postinst debian/dtc-postfix-courier.config debian/dtc-postfix-courier.prerm \
		debian/dtc-cyrus.postinst debian/dtc-cyrus.config debian/dtc-cyrus.prerm
	$(MAKE) clean

	# As per advice from Christian Perrier
	debconf-updatepo

install:
	dh_testdir
	dh_testroot
	dh_clean -k 
	cp debian/master.postinst debian/dtc-core.postinst
	cp debian/master.config debian/dtc-core.config
	cp debian/master.prerm debian/dtc-core.prerm
	cp debian/master.postinst debian/dtc-postfix-courier.postinst
	cp debian/master.config debian/dtc-postfix-courier.config
	cp debian/master.prerm debian/dtc-postfix-courier.prerm
	cp debian/master.postinst debian/dtc-cyrus.postinst
	cp debian/master.config debian/dtc-cyrus.config
	cp debian/master.prerm debian/dtc-cyrus.prerm

	dh_installdirs

	$(MAKE) install-dtc-common DESTDIR=$(CURDIR)/debian/dtc-common
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/LICENSE.gz
	rm -f $(CURDIR)/debian/dtc-common/usr/share/doc/dtc/README.gentoo
	# The Debian package of DTC now depends on the libphp-nusoap
	# package, so we don't need to include the lib file in this Debian
	# package now.
	rm -f $(CURDIR)/debian/dtc-common/usr/share/dtc/shared/inc/nusoap.php

	# Install the doc-base control file
	install -D -m 0644 debian/docbase $(CURDIR)/debian/dtc-common/usr/share/doc-base/dtc-doc

	$(MAKE) install-dtc-stats-daemon DESTDIR=$(CURDIR)/debian/dtc-stats-daemon

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/changelog
	dh_install
	dh_installdocs
	dh_installman
	dh_installdebconf
	dh_installinit
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
