/* --- DTC DOMAIN TECHNOLOGIE CONTROL CSS FILE --- */
/*    ---------------------------------------      */
/*   Design : Cali - http://www.labestiole.net     */
/*                                                 */
/* --------- DEFINITIONS GENERALES HTML ---------  */ 
html{height:100%; margin:0;}
body{height:100%;}
#outerwrapper {height: auto;}
a img { border: none; }
img { border: none; }
/* Couleurs des liens */
a:link{color: #15adff;text-decoration: none;}
a:visited{color: #15adff;text-decoration: none;}
a:hover{color: #ffffff;text-decoration: none;}
a:active{color: #ffffff;text-decoration: none;}
/* Pas d'extension de taille sur les formulaires */
form {
	margin: 0px;
	float: left;
	display: block;
	width: auto;
}
/* Div Vierge pour fermer correctement le bas de certaines listes sous IE */
.voider {
	clear: left;
	float: left;
	width: 0px;
	height: 0px;
	font-size: 0px;
}
/* Définition de typo */
body, h4, h5, h6 {
	background:#1a1a1a;
	width:100%;
	margin:0 auto;
	font-size:14px;
	font-family:georgia, 'time new romans', serif;
	color: #666;
}
td {
	/*width:100%;*/
	/*margin:0 auto;*/
	font-size:12px;
	font-family: verdana,helvetica,arial,sans-serif;
	color: #666;
}

/* Titres Fiches */
h1 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #9fc54e;
}
/* Titres Listes */
h2 {
	margin: 0 0 5px 0; 
	padding: 0 0 2px 0;
	text-align: left;
	color: #101010;
	font-size: 2em;
	font-style: normal;
	text-shadow: 1px 1px gray, -1px -1px #444;
	font-family:georgia, 'time new romans', serif;
}
/* Titres Box */
h3 {
	margin: 2px 0 2px 0;
	padding: 2px 0 2px 0;
	width: 100%;
	font-family: verdana,helvetica,arial,sans-serif;
	text-align: left;
	font-size: 12px;
	color: #80da7b;
	text-shadow: 0.1em 0.1em 0.2em black;
	overflow:auto;
}
/* Définition des champs de formulaire */
input,select,textarea {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	background-color: #414141;
	padding-left: 3px;
	color: white;
	border-radius: 3px;
	border: 1px #1A1A1A solid;
	margin: 1px;
}
input:focus,select:focus,textarea:focus {
	background: #545454;
}
html body input.radio {
	border: 0 !important;
}
.input_btn {
	padding: 0;
	height: 22px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: #252525 2px 2px 2px;
	background-color: transparent;
	border: 0;
}
.input_btn_container {
	float: left;
	height: 22px;
	min-width:25px;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	color: #ffffff;
	background-image: url(images/shade.png);
	background-position: bottom left;
	border:1px solid #777;
	border-radius: 10px;
	background-color: #9d4;
}
.input_btn_container-hover {
	float: left;
	height: 22px;
	min-width:25px;
	background-image: url(images/shade.png);
	background-position: bottom right;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	color: #ffffff;
	border:1px solid #777;
	border-radius: 10px;
	background-color: #d97451;
}
#page {
	background-color: #0d0d0d;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
}
/* --------- HEADER --------- */ 
#header {
	min-width: 760px;
	width: 100%;
	height: 90px;
	background-color: transparent;
	}
#hdr_dtclogo { 
	float: left;
	padding: 10px 10px 0 10px;
	}
#hdr_dtctext {
	padding: 7px 0 12px 0; 
	font-size: 16px;
	font-style: italic;
	}
#hdr_dtctext b {
	font-size: 24px;
	font-style: normal;
	text-shadow: #969696 2px 2px 2px;
}
#hdr_version {
	float: left;
	font-size: 10px;
	}
#hdr_doclink {
	float: left;
	padding: 0 5px 0 5px;
	font-size: 10px;
	}
#hdr_lang {
	float: right;
	margin: 35px 0 0 0;
	padding: 10px;
	list-style: none;
	}
#hdr_lang li {
	float: left;
	margin: 0;
	padding: 0 2px 0 2px;
	display: inline;
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	}

/* --------- FOOTER --------- */ 
#footer {
	clear: both;
	min-width: 760px;
	width: 100%;
	text-align: center;
	color: #76747d;
	font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* --------- NAVBAR --------- */ 
#usernavbarreplacement {
	clear: both;
	min-width: 760px;
	width: 100%;
	height: 30px;
}
#navbar {
	clear: both;
	min-width: 750px;
	width: 800px;
	min-height: 40px;
	margin: 0 auto 0 auto;
}
#navbar_left { }
#navbar_right { }
#navbar_items {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navbar_items li {
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 10%;
	height: 80px;
	text-align: center;
	font-size: 11px;
}
#navbar_items li a,#navbar_items li a:visited  {
	color: #545657;
	font-family: Tahoma, "Lucida Grande", Lucida, Verdana, sans-serif;
}
#navbar_items li a:hover,#navbar_items li a:active { color:#000; text-decoration: none; }
.navbar_item-select {
	float: left;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 80px;
	text-align: center;
	color: #000;
	font: bold 11px Tahoma, "Lucida Grande", Lucida, Verdana, sans-serif;
}
/* --------- CONTENT --------- */ 
#content {
	clear: both;
	min-width: 760px;
	width: 100%;
	margin-top: 14px;
	margin-left: 0px;
	margin-right: auto;
	margin-bottom: auto;
}
.console, div.console {
	margin: 10px auto 10px auto;
	float: left;
	width: 100%;
}
.console_title {
	background-image: url('gfx/box_wnb_nb_picto-sshaccounts.gif');
	background-position: left;
	background-repeat: no-repeat;
	padding: 1px 0 2px 18px;
	margin: 5px;
	background-color: transparent;
	color: #dddddd;
	font-family: Tahoma, "Lucida Grande", Lucida, Verdana, sans-serif;
	font-style: italic;
}
.console_output {
	padding: 2px 5px 2px 5px;
	margin: 5px;
	background-color: #000;
	color: #009411;
	border: 1px solid #FFFFFF;
	font: 11px "Courier New", Courier, mono;
	border-radius: 9px;
}
html body .rad-border {
	border-radius: 9px;
}
.console_output pre {
	margin: 2px;
}
.user_new {
	float: left;
	width: 50%;
	font-size: 10px;
}
.user_pending {
	float: left;
	width: 50%;
	font: 10px "Courier New", Courier, mono;
	color: #7e7e7e;
}
.user_pending b {
	color: #8441c3;
}
.box_wnb {
	clear: both;
	float: left;
	margin: 10px 2px;
	padding: 0;
	width: 98%;
}
* html .box_wnb {
	margin-left: 1%;
}
/* -- table layout -- */
html body .w-full { 
	width: 98%;
	margin: auto;
}
html body .thtitle {
	color: #cb4344;
	letter-spacing: 1px;
	float: right;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #7b0009 1px 1px 2px;
}
html body .c_content_title {
	color: #807f7f;
	letter-spacing: 1px;
	float: left;
	font: italic 14px "Courier New", Courier, mono;
	text-shadow: #000 1px 1px 1px;
	padding-left: 8px;
}
html body .dtctitle {
	color: #807f7f;
	letter-spacing: 1px;
	float: left;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #000 1px 1px 2px;
}
html body .tht {
	width: 98%;
	height: 30px;
	border-collapse: collapse;
	margin: auto;
}
html body .thl-1 {
	background-image: url('gfx/css/wnb_out_top_left.gif');
	background-position: left;
	background-repeat: no-repeat;
	width: 34px;
	height: 30px;
}
html body .bord-left {
	background: url('gfx/css/wnb_out_middle_left.gif') top left repeat-y;
	width: 12px;
}
html body .bord-right {
	background: url('gfx/css/wnb_out_middle_right.gif') top right repeat-y;
	width: 12px;
}
html body .thm-1 {
	background: url('gfx/css/wnb_out_top_middle.gif') repeat-x;
	border-collapse: collapse;
}
html body .thr-1 {
	background-image: url('gfx/css/wnb_out_top_right.gif');
	background-position: right;
	background-repeat: no-repeat;
	border-collapse: collapse;
	width: 43px;
	height: 30px;
}
html body .tbt {
	width: 98%;
	height: 35px;
	border-collapse: collapse;
	margin: auto;
}
html body .tbl-1 {
	background-image: url('gfx/css/wnb_out_bottom_left.gif');
	background-position: left;
	background-repeat: no-repeat;
	border-collapse: collapse;
	float: left;
	width: 34px;
	height: 35px;
}
html body .tbm-1 {
	background: url('gfx/css/wnb_out_bottom_middle.gif') repeat-x;
	width: 100%;
}
html body .tbr-1 {
	background-image: url('gfx/css/wnb_out_bottom_right.gif');
	background-position: right;
	background-repeat: no-repeat;
	border-collapse: collapse;
	float: right;
	width: 43px;
	height: 35px;
}
html body .c_w-full {
	width: 100%;
	margin: auto;
	}
html body .c_tht {
	width: 100%;
	height: 22px;
	border-collapse: collapse;
	margin: auto;
}
html body .c_thl-1 {
	background-image: url('gfx/css/content_top_left.gif');
	background-position: left;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}
html body .c_bord-left {
	background: url('gfx/css/content_left.gif') top left repeat-y;
	width: 22px;
}
html body .c_bord-right {
	background: url('gfx/css/content_right.gif') top right repeat-y;
	width: 23px;
}
html body .c_thm-1 {
	background: url('gfx/css/content_top_middle.gif') repeat-x;
	border-collapse: collapse;
	width: 100%;
}
html body .c_thr-1 {
	background-image: url('gfx/css/content_top_right.gif');
	background-position: right;
	background-repeat: no-repeat;
	width: 23px;
	height: 22px;
}
html body .c_tbt {
	width: 100%;
	height: 22px;
	border-collapse: collapse;
	margin: auto;
}
html body .c_tbl-1 {
	background-image: url('gfx/css/content_bottom_left.gif');
	float: left;
	width: 22px;
	height: 22px;
}
html body .c_tbm-1 {
	background: url('gfx/css/content_bottom_middle.gif') repeat-x;
	width: 100%;
	border-collapse: collapse;
}
html body .c_tbr-1 {
	background-image: url('gfx/css/content_bottom_right.gif');
	float: right;
	width: 23px;
	height: 22px;
}
html body .c_back {
	background-color: #fefbdf;
	overflow: hidden;
	margin: 0px;
	width: 100%;
}
/* -- Marge Navbar -- */
.box_wnb_nb {
	width: 255px;
	background-color: transparent;
	float: left;
	margin-left: 0;
}
.box_wnb_nb_bottom {
	width: 250px;
	height: 5px;
	background-color: transparent;
}
.box_wnb_nb_title {
	width: 100%;
	color: #383c41;
	text-align: left;
	background-color: transparent;
	text-shadow: #2c2c2c 2px 2px 1px;
	float: left;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.box_wnb_nb_title_left {
	width: 100%;
	height: 25px;
}
.box_wnb_nb_title_mid {
	padding: 4px 0 0 10px;
	width: 95%;
	text-align: left;
	font-weight: bold;
	color: #807f7f;
	letter-spacing: 1px;
	float: left;
	font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #000 1px 1px 2px;
}
.box_wnb_nb_title_right {
	width: 100%;
	height: 25px;
}
.box_wnb_nb_content {
	margin: 0 0 10px 0;
	padding: 3px 5px 0;
	color: #5e5e5e;
	font: 11px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
}
.box_wnb_nb_content a, .box_wnb_nb_content a:visited { color: #15adff; }
.box_wnb_nb_content a:hover, .box_wnb_nb_content a:active { color: #fff; text-decoration: none; }
.box_wnb_nb_items {
	width: 200px;
	padding-left: 10px;
	float: left;
	text-align: left;
}
.box_wnb_nb_items li {
	width: 100%;
	list-style: none;
	overflow: hidden;
	background:#414141;
	margin: 0 25px 4px 0;
	padding: 0 10px 0 0;
	height: 19px;
	line-height: 19px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #15adff;
	border:1px solid #1a1a1a;
	border-radius: 5px;
	background-image: url(images/shade.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	
}
.box_wnb_nb_item {
	padding-left: 10px;
	width: 100%;
	height: 19px;
	line-height: 19px;
	cursor: pointer;
}
.box_wnb_nb_item-hover {
	padding-left: 10px;
	width: 100%;
	height: 19px;
	line-height: 19px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #fff;
	cursor: pointer;
	background:#545454;
	border:1px solid #1a1a1a;
	border-radius: 5px;
}
.box_wnb_nb_items li .box_wnb_nb_item a { color: #15adff; }
.box_wnb_nb_items li .box_wnb_nb_item a:hover { color: #fff; text-decoration: none; }
.box_wnb_nb_items li .box_wnb_nb_item-hover a { color: #15adff; }
.box_wnb_nb_items li .box_wnb_nb_item-hover a:hover { color: #fff; text-decoration: none; }
.box_wnb_nb_item_select {
	padding-left: 10px;
	width: 100%;
	background:#545454;
	height: 19px;
	line-height: 19px;
	color: #fff;
	border:1px solid #1a1a1a;
	border-radius: 5px;
}
.box_wnb_nb_items li .box_wnb_nb_item_select a { color: #fff; }
.box_wnb_nb_items li .box_wnb_nb_item_select a:hover { color: #000; text-decoration: none; }
.box_wnb_nb_input {
	float: left;
	padding: 1px 0 0 0;
	margin: 0;
	height: 22px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	color: #4b4b4b;
	background-color: transparent;
}
.box_wnb_nb_input_btn {
	padding: 0;
	margin: 0;
	height: 24px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-shadow: #252525 2px 2px 2px;
	background-color: transparent;
	border: 0;
}
.box_wnb_nb_input_btn_container {
	float: left;
	height: 24px;
	min-width:25px;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	background-image: url(images/shade.png);
	background-position: bottom left;
	border:1px solid #777;
	border-radius: 10px;
	background-color: #9d4;
}
.box_wnb_nb_input_btn_container-hover {
	float: left;
	height: 22px;
	min-width:25px;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	background-image: url(images/shade.png);
	background-position: bottom right;
	border:1px solid #777;
	border-radius: 10px;
	background-color: #d97451;
}
.box_wnb_nb_input_btn_left {
	float: left;
	width: 0px;
	height: 24px;
}
.box_wnb_nb_input_btn_right {
	float: left;
	width: 0px;
	height: 24px;
}
.box_wnb_nb_input_btn_mid {
	float: left;
	padding: 0;
	height: 24px;
	}
.box_wnb_tv_container { }
.box_wnb_tv {
	width: 100%
}
.box_wnb_tv_tree {
	width: 30px;
	height: 22px;
	font-size: 0px;
}
.box_wnb_txttv_tree {
	width: 30px;
	height: 23px;
	padding-right: 5px;
	text-align: right;
	color: #15adff;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.box_wnb_tv_leaf {
	padding-left: 10px;	
	cursor: pointer;
	list-style: none;
	overflow: hidden;
	background:#414141;
	height: 19px;
	line-height: 19px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #15adff;
	border:1px solid #1a1a1a;
	border-radius: 5px;
	background-image: url(images/shade.png);
	background-repeat: repeat-x;
	background-position: bottom left;
}
.box_wnb_tv_leaf-hover {
	padding-left: 10px;
	height: 19px;
	line-height: 19px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #fff;
	cursor: pointer;
	background:#545454;
	border:1px solid #1a1a1a;
	border-radius: 5px;
}
.box_wnb_tv_leaf_select {
	padding-left: 10px;
	background:#545454;
	height: 19px;
	line-height: 19px;
	color: #fff;
	border:1px solid #2b2b2b;
	border-radius: 5px;
}
.box_wnb_txttv_leaf {
	padding: 1px 0 0 5px;
	height: 22px;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #15adff;
}
.box_wnb_txttv_leaf_select {
	padding: 0px 0 0 5px;
	height: 22px;
	background-color: #F6F6F2;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #fff;
}
.box_wnb_tv_leaf_open {
	padding: 0px 0 0 5px;
	height: 22px;
	border:1px solid #1a1a1a;
	border-radius: 5px;
	background-image: url(images/shade.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	background:#545454;
	cursor: pointer;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #80da7b;
}
.box_wnb_txttv_leaf_open {
	padding: 0px 0 0 5px;
	height: 22px;
	background-color: transparent;
	border-bottom: 1px solid #277193;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #000;
}
.box_wnb_tv_leaf_openbottom {
	height: 5px;
	font-size: 0px;
}
.box_wnb_tv_leaf_table {
	width: 100%
}
.box_wnb_tv_leaf_tree {
	width: 30px;
	height: 20px;
	font-size: 0px;
}
.box_wnb_txttv_leaf_tree {
	width: 30px;
	height: 20px;
	padding-right: 5px;
	text-align: right;
	color: #15adff;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.box_wnb_tv_leaf_leaf {
	padding: 1px 0 0 10px;
	height: 19px;
	width: 100%;
	overflow: hidden;
	background:#414141;
	cursor: pointer;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #15adff;
	border:1px solid #1a1a1a;
	border-radius: 5px;
	background-image: url(images/shade.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	letter-spacing: 1px;
}
.box_wnb_tv_leaf_leaf-hover {
	padding: 1px 0 0 10px;
	height: 19px;
	background:#545454;
	border:1px solid #333;
	border-radius: 5px;
	cursor: pointer;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: 1px;
}
.box_wnb_tv_leaf_leaf_select {
	padding-left: 10px;
	background:#545454;
	height: 19px;
	line-height: 19px;
	color: #fff;
	border:1px solid #2b2b2b;
	border-radius: 5px;
	font-weight: bold;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.box_wnb_txttv_leaf_leaf {
	padding: 1px 0 0 10px;
	height: 19px;
	background-color: transparent;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: 1px;
}
.box_wnb_txttv_leaf_leaf_select {
	height: 19px;
	padding-left: 10px;
	background-color: transparent;
	font-weight: bold;
	font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.box_wnb_tv_leaf_select a, .box_wnb_tv_leaf_select a:visited { color: #fff; }
.box_wnb_tv_leaf_select a:hover, .box_wnb_tv_leaf_select a:active { color: #000; text-decoration: none; }
.box_wnb_tv_leaf_leaf_select a, .box_wnb_tv_leaf_leaf_select a:visited { color: #ffffff; }
.box_wnb_tv_leaf_leaf_select a:hover, .box_wnb_tv_leaf_leaf_select a:active { color: #000000; text-decoration: none; }
.box_wnb_tv_leaf_open a, .box_wnb_tv_leaf_open a:visited { color: #80da7b; }
.box_wnb_tv_leaf_open a:hover, .box_wnb_tv_leaf_open a:active { color: #80da7b; text-decoration: none; }
.box_wnb_tv_leaf a, .box_wnb_tv_leaf a:visited { color: #15adff; }
.box_wnb_tv_leaf a:hover, .box_wnb_tv_leaf a:active { color: #ffffff; text-decoration: none; }
.box_wnb_tv_leaf-hover a, .box_wnb_tv_leaf-hover a:visited { color: #fff; }
.box_wnb_tv_leaf-hover a:hover, .box_wnb_tv_leaf-hover a:active { color: #fff; text-decoration: none;}
.box_wnb_tv_leaf_leaf a, .box_wnb_tv_leaf_leaf a:visited { color: #15adff; }
.box_wnb_tv_leaf_leaf a:hover, .box_wnb_tv_leaf_leaf a:active { color: #fff; text-decoration: none; }
.box_wnb_tv_leaf_leaf-hover a, .box_wnb_tv_leaf_leaf-hover a:visited { color: #fff; }
.box_wnb_tv_leaf_leaf-hover a:hover, .box_wnb_tv_leaf_leaf-hover a:active { color: #fff; text-decoration: none; }
.box_wnb_txttv_tree a, .box_wnb_txttv_tree a:visited { color: #15adff; }
.box_wnb_txttv_tree a:hover, .box_wnb_txttv_tree a:active { color: #fff; text-decoration: none; }
.box_wnb_txttv_leaf_select a, .box_wnb_txttv_leaf_select a:visited { color: #fff; }
.box_wnb_txttv_leaf_select a:hover, .box_wnb_txttv_leaf_select a:active { color: #000000; text-decoration: none; }
.box_wnb_txttv_leaf_leaf_select a, .box_wnb_txttv_leaf_leaf_select a:visited { color: #15adff; }
.box_wnb_txttv_leaf_leaf_select a:hover, .box_wnb_txttv_leaf_leaf_select a:active { color: #000000; text-decoration: none; }
.box_wnb_txttv_leaf_open a, .box_wnb_txttv_leaf_open a:visited { color: #fff; }
.box_wnb_txttv_leaf_open a:hover, .box_wnb_txttv_leaf_open a:active { color: #000; text-decoration: none; }
.box_wnb_txttv_leaf a, .box_wnb_txttv_leaf a:visited { color: #15adff; }
.box_wnb_txttv_leaf a:hover, .box_wnb_txttv_leaf a:active { color: #fff; text-decoration: none; }
.box_wnb_txttv_leaf_leaf a, .box_wnb_txttv_leaf_leaf a:visited { color: #15adff; }
.box_wnb_txttv_leaf_leaf a:hover, .box_wnb_txttv_leaf_leaf a:active { color: #fff; text-decoration: none; }
/* -- Zone Contenu -- */
.box_wnb_content {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	background-color: transparent;
	float:left;
}
.box_wnb_content_bottom {
	background-color: transparent;
}
.box_wnb_content_container {
	width: 90%;
	background-color: transparent;
	background-repeat: repeat;
	margin: 0;
	padding-left: 5px;
	float: left;
}
* html .box_wnb_content_clientimport .box_wnb_content_container {
	padding: 0 1% 0 1%;
	width: 100%
}
.box_wnb_content_clientimport {
	float: left;
	margin-top: 10px;
	width: 98%;
	padding: 1%;
	margin-top: 0pt;
	margin-right: auto;
	margin-bottom: 0pt;
	margin-left: 5px;
}
.box_wnb_content_clientimport_box_wnb {
	clear: both;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
}
.box_wnb_content p {
	margin: 0;
	padding: 0;
	text-align: justify;
}
.box_wnb_content_nb {
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	height: 30px;
	list-style: none;
}
.box_wnb_content_nb_item_vsep {
	float: left;
	margin: 0;
	padding: 0;
	height: 30px;
}
.box_wnb_content_nb_item {
	float: left;
	background:#8c888c;
	margin: 0 35px 0 0;
	padding: 7px 20px 0 20px;
	height: 23px;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #666;
	border:1px solid #444444;
}
.box_wnb_content_nb_item_select {
	float: left;
	margin: 0 35px 0 0;
	padding: 7px 20px 0 20px;
	height: 23px;
	background:#c6c2c6;
	color: #666;
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	border:1px solid #444444;
}
.box_wnb_content_nb_item a, .box_wnb_content_nb_item a:visited { 
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #111;
}
.box_wnb_content_nb_item a:hover, .box_wnb_content_nb_item a:active {
	color: #000;
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
}
.box_wnb_content_nb_item_select a, .box_wnb_content_nb_item_select a:visited {
	color: #111;
}
.box_wnb_content_nb_item_select a:hover, .box_wnb_content_nb_item_select a:active {
	color: #000;
	text-decoration: none;
}
/* -- Boite Blanche seule -- */
.box {
	clear: both;
	float: left;
	margin: 10px auto 10px auto;
	padding: 0;
	width: 90%;	
	background-color: transparent;
}
.box_bottomleft { background-color: transparent; }
.box_bottomright { background-color: transparent; }
.box_topleft { background-color: transparent; }
.box_topright { background-color: transparent; }
.box_content {
	padding: 5px;
	width: 95%;
	margin: 0;
}
.box form table, .box_wnb_content_container form table {
	background-color:transparent;
	padding: 5px;	
	margin-left: 1px;
}
.box form table tr, .box_wnb_content_container form table tr { 
	/*border-bottom: 1px solid #BAC0A2;*/
}
.box form table th, .box_wnb_content_container form table th {
	padding: 2px 5px 2px 5px;
	color: #000;
	text-align: right;
	font: normal 13px verdana,helvetica,arial,sans-serif;
}
.box form table td, .box_wnb_content_container form table td {
	/*padding: 1px 0 1px 0;*/
	}
.box form table tr td table { 
	background-color: transparent;
	border: none;
}
.alternatecolorline {
	background-color: #8c888c;
	color: #141414;
	border-radius: 5px;
	border: 1px solid #1A1A1A;
}

/* required so log lines not spaced or inset*/
#reinstall_os_log {
	overflow: scroll;
	width: 40em;
	height: 30em;
}
