Package: dtc-cyrus
Source: dtc
Version: 0.34.5-1
Architecture: all
Maintainer: Thomas Goirand <zigo@debian.org>
Installed-Size: 74
Depends: amavisd-new, clamav, clamav-daemon, clamav-freshclam, dtc-common (= 0.34.5-1), mysql-client, mysql-server, libsasl2-2, libsasl2-modules, cyrus-admin-2.2, cyrus-clients-2.2, cyrus-common-2.2, cyrus-imapd-2.2, cyrus-pop3d-2.2, libsasl2-modules-sql | libpam-mysql, spamassassin, spamc
Suggests: courier-authmysql, courier-authlib-mysql, mysqmail, awstats, courier-base, sqwebmail
Conflicts: dtc-core, dtc-postfix-courier
Replaces: dtc-core, dtc-postfix-courier
Section: admin
Priority: extra
Homepage: http://www.gplhost.com/software-dtc.html
Description: web control panel for admin and accounting hosting services (cyrus depends)
 Domain Technologie Control (DTC) is a control panel aiming at commercial
 hosting. Using a web GUI for the administration and accounting all hosting
 services, DTC can delegate the task of creating subdomains, email, ssh,
 database, mailing lists, and FTP accounts to users for the domain names they
 own.
 .
 DTC manages a MySQL database containing all the hosting information,
 and configure your server's services and apllication for doing virtual hosting
 (DTC is compabible with a huge list of applications). It also connects to
 dtc-xen to manage and monitor the usage of Virtual Private Servers (VPS), it
 does the billing in general (including billing of dedicated servers), has
 integrated support tickets and more.
 .
 This metapackage contains dependencies to setup with Cyrus, so you don't have
 to select them by hand. If you want to use other daemons, use the dtc-core
 package which has a lot less dependencies, or use dtc-postfix-courier or
 dtc-toaster.
