#skinSimpleGreenPageTitle,#skinSimpleGreenPageTitle TD{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	font-style : normal;
	color: #000088;
}

#skinSimpleGreenContent,#skinSimpleGreenContent TD{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

